h3:{ 
    color: #1aa1bc;
    font-family: serif;
}
h6{
    color: #1aa1bc;}

nav:{
    font-family: serif;
}
h5{ color: #1aa1bc;
    font-family: serif;
}
button:hover{ color: #1aa1bc;}
a:hover{ text-transform: uppercase;
    
}


